@font-face{
     font-family : "Schoolbell";
     src : url('./fonts/Schoolbell.ttf') format('truetype');
}
@font-face{
     font-family : "Slackey";
     src : url('./fonts/Slackey.ttf') format('truetype');
 }

body {
    font-family: 'Schoolbell', cursive !important;
    font-size: 18px !important;
    letter-spacing: 0.33px;
}
h1 {
    font-family: "Slackey", cursive !important;
}

@media print {
    body {
        font-size: 14px !important;
    }
    blockquote {
        color: #666;
        margin: 0;
        padding-left: 3em;
        border-left: 0.5em #EEE solid;
    }
}
